//Specificity is required to overwrite plugin CSS

.appointments {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: left;
    padding: 1rem;

    &__edit{
        visibility: hidden;
    }

    &__delete{
        visibility: hidden;
    }
    
    &:hover {
        .appointments__edit, .appointments__delete{
            visibility: visible;
        }
    }
    
    &__list {
        margin-right: 10rem;

        &__time {
            color: $color-purple;
            line-height: 1.2;
        }
        &__name {
            color: $color-gray;
            line-height: 1.4;
        }
        &__phone, &__email {
            color: $color-grey-dark-3;
            font-size: 1.5rem;
            line-height: 1.2;
        }
        &__notes {
            color: $color-grey-dark-3;
        }
    }

    &__dialog {
        transform: scale(1.3);        
    }

    &__text {
        font-size: 1.5rem;
    }

    &__button {
        font-size: 1rem;
    }

    &__input * {
        font-size: 1rem;
    }

    &__time {
        display: inline-block;
    }

    &__schedule-li {
        opacity: 1;
        max-height: 50rem;
        overflow-y: auto;
    }

    &__add-appointment {
        font-size: 2rem;
        background-image: linear-gradient(to left, rgba($color-one, .8), rgba($color-one, .8));


    }

    &__list {
        
        &__item {

        }
    }
}



.appointments-form {
    font-size: 1.5rem !important;
    display: inline-block;
}

.appointments-specify {
    text-align: right;
    padding: 0 2rem;
}