//Specificity is required to overwrite plugin CSS

.appointments {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: left;
    padding: 1rem;

    &__schedule-list {

        @include respond(phone-land) {
            height: 50vh;
            overflow-y: auto;
        }

        @include respond(phone) {
            height: 33vh;
            overflow-y: auto;
        }
    }

    &__select-client {
        background-color: $color-form;
    }

    &__edit {
        display: inline-block;
        visibility: hidden;
    }

    &__delete {
        display: inline-block;
        visibility: hidden;

        &__header > h2, &__header + div > p {
            font-size: 2rem;
        }

        &__confirm > span, &__cancel > span {
            font-size: 2rem;
        }

    }
    
    &:hover {
        .appointments__edit, .appointments__delete {
            visibility: visible;
        }
    }
    
    &__list {
        margin-right: 10rem;
        overflow-wrap: break-word;
        max-width: 30rem;

        &__options {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }

        &__time {
            color: $color-purple;
            line-height: 1.2;
        }
        &__name {
            // color: $color-gray;
            color: $color-four;
            line-height: 1.4;
        }
        &__phone, &__email {
            color: $color-grey-dark-3;
            font-size: 1.5rem;
            line-height: 1.2;
        }
        &__notes {
            color: $color-grey-dark-3;
        }
    }

    &__dialog {
        transform: scale(1.3);       

        @include respond(phone-land) {
            transform: scale(1);
        }

        @include respond(phone) {
            transform: scale(1.2);
        }

        & > * > * > *, & > * > * > * > * {
            color: $color-form-font !important;
            font-size: 1.5rem;
        }

        & > div > div > h2, & > div > div > p, & > div > div > div > label  {
            font-size: 2rem;
        }

        & > div > div > select, & > div > div > div > div > input {
            font-size: 1.5rem;
        }

        & > div {
            &:nth-of-type(2) {
                background-color: $color-form;
            }
        }
    }

    &__text {
        font-size: 1.5rem;
    }

    &__button {
        font-size: 1rem;
    }

    &__input * {
        font-size: 1rem;
        color: $color-form-font !important;
    }

    &__time {
        display: inline-block;
    }

    &__schedule-li {
        opacity: 1;
        max-height: 50rem;
        overflow-y: auto;
    }

    &__add-appointment {
        font-size: 2rem;
        background-image: linear-gradient(to left, rgba($color-one, .8), rgba($color-one, .8));
    }

    &__message {
        font-size: 2rem;
    }
}



.appointments-form {
    display: inline-block;

    & > div > div > input {
        font-size: 1.5rem;
    }
}

.appointments-specify {
    text-align: right;
    padding: 0 1.2rem;

    & > button > span > svg {
        width: 3.5rem;
        height: 3.5rem;
    }
}