//Specificity is required to overwrite plugin CSS
.appointments {

    &__schedule-list {
        max-height: 50rem;
        overflow-y: auto;
    }

    &__add-appointment {
        font-size: 2rem;
        background-image: linear-gradient(to left, rgba($color-one, .8), rgba($color-one, .8));

        &:hover {

        }
    }

    &__list {
        
        &__item {

        }
    }


}