.calendar {
 
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    max-width: 70rem; 
    text-transform: uppercase; 
    color: #616A6B;

    &__header-row {

        &__previous {
            display: inline-block;
            margin: 3rem 2rem;
        }

        &__next {
            display: inline-block;
            margin: 2rem;            
        }

        &__header {
            display: inline-block;
        }
    }

    &__days {

        &__day {
            display: inline-block;
            width: 14.2%;
            font-weight: 700;
        }
    }

    &__blocks-row {


        &__blocks {
            display: inline-block;
            width: 14.2%;
            padding: 4% 0 4% 0 ;

            &:hover {
                cursor: pointer;
                background-color: #D6EAF8;
                border-radius: 20%; 
            }

            // &:nth-child(7n+1), &:nth-child(7n+7) {
            //     color: red;
            // }
        }
    }
}