#filter {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    text-align: left;
    padding: 1.5rem 3rem;
    font-size: 1.4rem;
    border-radius: 5px;
    border: 1px solid $color-five;
}

.client-list {
    // margin: 15rem 15rem 15rem 30%;
    margin: 10rem auto;
    transform: scale(1.4);
    width: 30%;


    @include respond(phone-land) {
        display: inline-block;
        width: auto;
    }
    @include respond(phone) {
        width: 70%;
    }
} 

.client-list-div {
    overflow-y: auto;
    height: 40vh;
}

.client {
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    &__list {
        display: inline-block;
        vertical-align: middle;

        &__name {
            font-size: 1.5rem;
            color: $color-gray;
            line-height: 1.4;
            @include respond(phone-land) {
                font-size: 1.4rem;
            }
        }
        
        &__phone, &__email {
            color: $color-grey-dark-3;
            font-size: 1.5rem;
            line-height: 1.2;
            font-size: 1.2rem;
        }
    }
    
    &__dialog {
        transform: scale(1.3);       

        & > div {
            &:nth-of-type(2) {
                background-color: $color-form;
            }
        }

        & > * > * > *, & > * > * > * > * {
            color: $color-form-font !important;
            font-size: 1.5rem;
        }

        & > div > div > h2, & > div > div > p, & > div > div > div > label  {
            font-size: 2rem;
        }

        & > div > div > select, & > div > div > div > div > input {
            font-size: 1.5rem;
        }

        & > div {
            &:nth-of-type(2) {
                background-color: $color-form;
            }
        }
    }

    &__text {
        font-size: 1.5rem;
    }

    &__add-form {
        margin-right: 2.75rem;
        @include respond(small-phone) {
            margin-right:-1.7rem;
        }
    }

    &__edit-form {
        display: inline-block;
        visibility: hidden;
    }
    

    &__delete-form {
        display: inline-block;
        visibility: hidden;

        &__header > h2, &__header + div > p {
            font-size: 2rem;
        }

        &__confirm > span, &__cancel > span {
            font-size: 2rem;
        }

        @include respond(small-phone) {
            margin-right:1.5rem;
        }
    }

    &:hover {
        .client__edit-form, .client__delete-form {
            visibility: visible;
        }
    }
}

.add-client-button-flexbox {
    display: flex;
    justify-content: flex-end;
}


.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12.5rem;

    @include respond(phone-land) {
        display: inline-block;
        margin-left: 2rem;
        margin-right: 10rem;
        vertical-align: top;
        width: 40%;
    }

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: $color-font-opposite;
        background-color: $color-white;
        border: none;
        padding: 1.7rem 1.5rem;
        border-radius: 100px;
        width: 20%;
        transition: all .2s;
        margin-right: -3.25rem;
        border: .5px solid #999;

        @include respond(tab-land) {
            font-size: 1.8rem;
            width: 30rem;
        }

        &:focus {
            outline: none;
            width: 25%;
            background-color: $color-white;
            @include respond(small-phone) {
                width: 50%;
            @include respond(tab-land) {
                width: 35rem;
            }
        }
        &::-webkit-input-placeholder {
            font-weight: 100;
            color: $color-grey-light-4;
        }
        @include respond(small-phone) {
            width: 40%;
        }
    }
    &__input:focus + &__button {
        background-color: $color-grey-light-3;
    }
    &__button {
        border: none;
        background-color: $color-grey-light-2;
        &:focus {
            outline: none;
        }
        &:active {
            transform: translateY(2px);
        }
        @include respond(small-phone) {
            margin-left: 10rem;
        }
    }
    }
    &__icon {
        height: 2rem;
        width: 2rem;
        fill: $color-grey-dark-3;
    }
}

.search svg {
    color: black;
}