#filter {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    text-align: left;
    padding: 1.5rem 3rem;
    font-size: 1.4rem;
    border-radius: 5px;
    border: 1px solid $color-five;
}

.client-list {
    // margin: 15rem 15rem 15rem 30%;
    margin: 10rem auto;
    transform: scale(1.4);
    width: 30%;
}

.client-list-div {
    overflow-y: auto;
    height: 40vh;
}

.client {
    padding: 1rem;

    &__list {
        display: inline-block;

        &__name {
            font-size: 1.5rem;
            color: $color-gray;
            line-height: 1.4;
        }
        &__phone, &__email {
            color: $color-grey-dark-3;
            font-size: 1.5rem;
            line-height: 1.2;
        }
    }

    &__edit-form {
        float: right;
        visibility: hidden;
        // display: inline-block;
    }

    &__delete-form {
        float: right;
        visibility: hidden;
        // display: inline-block;
    }

    &:hover {
        .client__edit-form, .client__delete-form {
            visibility: visible;
        }
    }
}

.add-client-button-flexbox {
    display: flex;
    justify-content: flex-end;
    // transform: translateY(30%);
}

// .filter{
//     &__input{
//         display: inline;
//     }
// }
// display: flex;
// flex: 1;
// justify-content: space-around;
// width: 50%;

.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12.5rem;

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: $color-white;
        border: none;
        padding: 1.7rem 1.5rem;
        border-radius: 100px;
        width: 20%;
        transition: all .2s;
        margin-right: -3.25rem;
        &:focus {
            outline: none;
            width: 25%;
            background-color: $color-white;
        }
        &::-webkit-input-placeholder {
            font-weight: 100;
            color: $color-grey-light-4;
        }
    }
    &__input:focus + &__button {
        background-color: $color-grey-light-3;
    }
    &__button {
        border: none;
        background-color: $color-grey-light-2;
        &:focus {
            outline: none;
        }
        &:active {
            transform: translateY(2px);
        }
    }
    &__icon {
        height: 2rem;
        width: 2rem;
        fill: $color-grey-dark-3;
    }
}

