.components {
    // display: flex;
    // justify-content: space-evenly;
    padding-top: 5rem;
    text-align: center;
    // width: 100%;
    // height: 100px;
    @include respond(phone-land) {
        padding-top: 0;
    }
    @include respond(phone) {
        padding-top: 0;
    }
}

.dashboard {
    background-image: linear-gradient(to right, rgba($color-overlay, .8), rgba($color-overlay, .8));
    height: 100vh;

    &__welcome {
        padding: 0rem 5rem;
    }
}