.landing-page {
    
    text-align: center;
    font-family: 'Roboto', sans-serif;

    &__button {
        text-align: center;

    }
}

#app-name {
    font-size: 80px;
    margin-top: 6rem;
}

#app-description {
    font-size: 20px
}