@import url('https://fonts.googleapis.com/css?family=Carme');


.logo {
    // margin: 20rem 20rem 0rem;
    max-width: 6%;
    float: left;
    margin: -1rem 1rem;
    @include respond(tab-port) {
        max-width: 9%;
    }
    @include respond(small-phone) {
        max-width: 17%;
        margin: 0rem 0rem;
    }
}

.landing-page {
    
    // text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #424949;
    // &__button {
    //     text-align: center;
    // }
}



#app-name {
    font-size: 80px;
    margin-top: 6rem;
}

#app-description {
    font-size: 20px;
}

.head {
    background-color: #F4F4F4;
    height: 95vh;

    @include respond(tab-port) {
        height: 50vh;
    }
    @include respond(phone-land) {
        height: 100vh;
    }
    @include respond(phone) {
        height: 37.5vh;
    }
    @include respond(small-phone) {
        
    }

}

.nav {
    padding: 2.7rem;
    text-align: right;
    position: fixed;
    width: 100%;
    background-image: linear-gradient(to right, rgba(#333, .9), rgba(#333, .9));
    text-transform: uppercase;
    z-index: 100;

    @include respond(phone) {

    }

    &__header {

    }

    &__button {
        padding: 1.5rem;
        margin: 0 2.5rem;      
        cursor: pointer;
        position: relative;
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        font-family: sans-serif;
        @include respond(small-phone) {
            font-size: 2.5rem;
            margin: 0rem 0.5rem;
        }

        &:hover {
            color: #2980B9;
        }

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            // height: 1rem;
            // bottom: 0;
            left: 0;
            background-color: #000;
            // opacity: .3;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }

        &:hover:before {
            visibility: visible;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
}

.welcome {
    background-image: url('../images/office.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    // margin-top: 6.5rem;
    @include respond(tab-port) {
        background-size: 100%;
    }
    @include respond(phone-land) {
        height: 100vh;
        background-repeat: repeat;
    }

    &__screen {
        background-image: linear-gradient(to right, rgba(white, .1), rgba(white, .1));
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;

        @include respond(tab-port) {
            background-size: 100%;
        }

    
    }

    &__message {
        color: #AED6F1;
        font-family: 'Carme', sans-serif;
        font-size: 3.7rem;
    
        &__top {
            position: absolute;
            text-transform: uppercase;
            margin-top: 30rem;
            margin-left: 5rem;
            @include respond(tab-port) {
                margin-top: 15rem;
                font-size: 5rem;
            }
            @include respond(small-phone) {
                margin-top: 12rem;
                font-size: 3rem;
            }
        }
        &__bottom {
            position: absolute;
            text-transform: uppercase;
            margin-top: 40rem;
            margin-left: 10.5rem;
            @include respond(tab-port) {
                margin-top: 25rem;
                margin-left: 8.5rem;
                font-size: 5rem;
            }
            @include respond(phone) {
                margin-left: 4rem;
                // padding-right: 5rem;
                transform: translateY(-50%);
            }
            @include respond(small-phone) {
                margin-top: 16rem;
                margin-left: 5rem;
                font-size: 3rem;
            }
        }
    }
}


.about {
    background-color: white;
    padding: 10rem 10rem;
    font-family: 'Carme', 'san-serif';

    @include respond(tab-land) {
        padding: 50px 50px 0px 50px;   
    }
    @include respond(tab-port) {
        background-color: white;
        padding: 30px 50px;
    }
    @include respond(small-phone) {
        padding: 30px 32px;
    }


    &__header {
        padding: 1rem;
        font-size: 4.8rem;
        font-family: 'Carme', sans-serif;
        text-transform: uppercase;
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 325vh;

        @include respond(tab-port) {
            height: 200vh;
        }
        @include respond(phone) {
            height: 250vh;
        }
        @include respond(phone-land) {
            height: 625vh;
        }
        @include respond(small-phone) {
            height: 300vh;
        }

        &__item {
            display: flex;
            justify-content: space-between;

            @include respond(phone) {
                display: block;
            }

            &__left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 59%;
                padding-left: 20rem;

                @include respond(phone) {
                    width: 100%;
                    display: block;
                    padding-left: 0;
                }
            }
    
            &__image {
                width: 75%;

                @include respond(phone) {
                    width: 100%;
                }
            }

            &__right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 40%;

                @include respond(phone) {
                    width: 100%;
                    display: block;
                }
            }
    
            &__header {
                font-size: 3.6rem;
                margin: 5rem 0;
                font-family: 'Carme', sans-serif;
                text-transform: uppercase;
                @include respond(phone) {
                    text-align: center;
                    margin: 2rem;
                }
            }

            &__details {
                font-size: 2.4rem;
            }
        }

        &__item-two {
            text-align: center;
        }

        &__item-three {
            padding: 5rem 5rem 30rem 5rem;
            
            @include respond (tab-port) {
                padding: 5rem;
            }

            &__left {
                display: inline-block;
                width: 40%;
                padding-bottom: 30rem;

                @include respond (tab-port) {
                    display: block;
                }
            }

            &__right {
                display: inline-block;
                width: 60%;
                padding: 10rem 5rem 0 30rem;

                @include respond(tab-port) {
                    display: block;
                    width: 100%;
                    padding: 0rem 5rem 0 5rem;
                }

                @include respond(phone) {
                    padding: 0 0 0 0;
                }
            }

            &__image {
                width: 33%;

                &__first {
                    position: absolute;
                    margin-left: 5rem;
                    margin-top: -10rem;

                    @include respond(phone) {
                        width: 50%;
                        margin-left: 0rem;
                        margin-right: 5rem;
                        margin-top: 0rem;
                    }
                }

                &__second {
                    position: absolute;
                    margin-left: 20rem;
                    @include respond(phone) {
                        width: 50%;
                        margin-left: 5rem;
                        margin-top: 5rem;
                    }
                }
            }
            &__header {
                font-size: 3.6rem;
                margin: 5rem 0;
                font-family: 'Carme', sans-serif;
                text-transform: uppercase;
                @include respond(phone) {
                    margin: 0rem;
                }
            }

            &__details {
                font-size: 2.4rem;
            }
        }
        &__item-four {
            
            &__image {
                display: inline-block;
                position: relative;
                width: 35%;
                padding: 0 .25rem;

                @include respond(tab-port) {
                    width: 50%;
                }
            }
            &__header {
                font-size: 3.6rem;
                margin: 5rem 0;
                font-family: 'Carme', sans-serif;
                text-transform: uppercase;
            }

            &__details {
                font-size: 2.4rem;
            }
            
            &__top {
                text-align: center;
                display: inline-block;
                margin: 0 auto;
            }

            &__bottom {
                text-align: center;
            }
        }
    }
}

.phone-image {
    width: 70%;
    @include respond(tab-port) {
        width: 55%;
        margin-left: 8rem;
    }
    @include respond(small-phone) {
        margin-left: 3rem;
    }
}

.whats-new {
    display: block;
    background-color: white;
    padding: 5rem 40rem;

    @include respond(tab-land) {
        padding: 0rem 5rem 5rem 5rem;
    }

    @include respond(tab-port) {
        background-color: white;
        padding: 0;
        padding-bottom: 10rem;
    }

    &__header {
        text-align: center;
        font-size: 4.2rem;
        font-family: 'Carme', sans-serif;
        text-transform: uppercase;
        line-height: 1.2;
        @include respond(tab-port) {
            font-size: 3rem;

        }
        @include respond(small-phone) {
            font-size: 3rem;
            padding-top: 6rem;
        }
    }

    &__left {
        display: inline-block;
        padding-top: 5rem;
        width: 40%;
        vertical-align: middle;
        @include respond(tab-port) {
            padding-top: 4rem;
        }
    }
    
    &__right {
        width: 60%;
        padding-top: 5rem;
        display: inline-block;
        font-size: 1.8rem;
        vertical-align: middle;
        @include respond(tab-port) {
            padding: 0;
        }
    }

    &__list {
        &__item{
            &__header{
                font-size: 3rem;
                text-transform: uppercase;
                font-family: 'Carme', sans-serif;
                @include respond(phone) {
                    font-size: 2.2rem;
                    padding-bottom: 1rem;
                }
                @include respond(small-phone) {
                    font-size: 2.2rem;
                    padding-top: 5rem;
                    padding-bottom:2rem;
                }
            }
            &__details{
                color: #616A6B;
                font-size: 2.4rem;
            }
        }
    }
}

.about-us {
    background-color: #333;
    color: white;
    padding: 15rem;
    display: block;

    @include respond(tab-land) {
        padding: 10rem;
    }

    @include respond(tab-port) {
        padding: 5rem;
    }

    @include respond(small-phone) {   
        padding: 5rem 2rem;  
    }

    &__header {
        text-align: center;
        font-size: 1.8rem;
        padding-bottom: 10rem;
        font-family: 'Carme', sans-serif;
        text-transform: uppercase;
        @include respond(tab-port) {
            padding-bottom: 8rem;
        }
        @include respond(small-phone) {   
            padding-bottom: 6rem; 
        }
    }

    &__people {

    }

    &__person {
        display: inline-block;
        width: 25%;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        
        &__list {

            &__item {
                padding: .5rem;
                line-height: .5;
            }

            &__name {
                font-size: 1.8rem;
                @include respond(tab-port) {
                    line-height: 1;
                }
                @include respond(tab-port) {
                    font-size: 2.1rem;
                    //padding-left: 1rem;
                }
            }

            &__portfolio {
                

                &__text {
                    color: grey;
                    font-size: 1.9rem;

                    &:hover {
                        text-decoration: underline;
                    }
                }
                @include respond(tab-land) {
                    font-size: 2.4rem;
                    line-height: 1.3;
                }
                @include respond(phone) {
                    font-size: 2.4rem;
                    line-height: 1.3;
                }
            }

            &__github {
                display: inline-block;
                margin: 0 .6rem;
                // background: white;
            }

            &__linkedin {
                display: inline-block;
                margin: 0 .5rem;
                // background: white;
            }
        }
    }
}

