.login-form {

    font-size: 2.2rem;
    margin: 0 auto;
    padding: 10rem;

    text-align: left;
    font-family: 'Roboto', sans-serif;
    // float: right;

    &__input {
     
        font-size: 1.9rem;
        font-family: inherit;
        padding: 1.5rem 3rem;
        // color: ;
        border-radius: 5px;
        background-color: rgba($color-white, .5);
        border: 1px solid $color-five;
        border-bottom: 1px solid $color-five;
        width: 60%;
        display: block;
        transition: all .3s;
        
        &:focus {
            outline: none;
            border-bottom: 1px solid $color-one;
        }

        &:focus:invalid {
            border-color: #a33;
        }

        &::-webkit-input-placeholder {
            color: $color-four;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
    }
    //This should only be used at the end.
// Sibling selector + selects the next immediate sibling element.
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transition: all .3s;
        transform: translateY(-4rem);
    }
}

.form-error{
    color: red;
}



.register {
    margin: 0 auto;
    padding: 5rem;
    &__p {
        font-size: 2.1rem;
        font-family: 'Roboto', sans-serif;
    }
}