.login {
    display: flex;
}

.login-form {
    font-size: 2.2rem;
    display: inline-block;
    margin: 2rem auto;
    padding: 10rem;
    font-family: 'Roboto', sans-serif;
    color: $color-gray;
    // float: right;

    &__input {
        font-size: 1.9rem;
        font-family: inherit;
        padding: 1.5rem 3rem;
        border-radius: 5px;
        background-color: rgba($color-white, .5);
        border: 1px solid $color-grey-light-1;
        // border-bottom: 1px solid #D6EAF8;
        display: block;
        transition: all .3s;
        width: 100%;        

        &:focus {
            outline: none;
        }

        &:focus:invalid {
            border-color: #a33;
        }

        &::-webkit-input-placeholder {
            color: $color-four;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
    }
    //This should only be used at the end.
// Sibling selector + selects the next immediate sibling element.
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transition: all .3s;
        transform: translateY(-4rem);
    }

    &__button {
        //See buttons.scss
    }
}

.form-error{
    color: red;
}

.register {
    &__parent {
        display: flex;
    }

    margin: 0 auto;
    padding: 5rem;

    &__back-button {
        display: inline-block;
        width: 17rem;
        position: fixed;
        left: 5rem;
        top: 4rem;
    }

    &__back-button svg {
        float: left;
        margin-right: 1rem;
        transform: scale(1.5)
    }

    &__p {
        font-size: 2.2rem;
        font-family: 'Roboto', sans-serif;
        transform: translateY(-17.5%);
        
    }
}

.register-line {
    margin-top: 4rem;
}