.report {
    color: $color-gray;
    padding: 0 2rem;
    margin-top: 5rem;

    &__left {
        vertical-align: top;
        display: inline-block;
        width: 62.5%;
        margin-top: 10rem;
        margin-left: 0rem;
    }

    &__right {
        display: inline-block;
        width: 20%;
    }

    &__title{
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 5rem;
    }

    &__list {
        height: 55vh;
        overflow-y: auto;
    }

    &__list-block {
        padding: 1rem 0;
    }

    &__list-item {

        &__time {
            color: $color-purple;
            line-height: 1.2;
        }
        &__name {
            font-size: 1.5rem;
            color: $color-gray;
            line-height: 1.4;
        }
        &__phone, &__email {
            color: $color-grey-dark-3;
            font-size: 1.5rem;
            line-height: 1.2;
        }
    }

    &__message {
        font-size: 1.8rem;
        text-align: left;
    }
} 

.linechart {
    text-align: center;
}