.report {
    color: $color-font;
    padding: 0 2rem;
    margin-top: 2rem;

    @include respond(phone-land) {
        margin-top: 0rem;
        margin-left: -8rem;
    }
    @include respond(phone) {
        margin-left: -10rem;
    }

    &__left {
        display: block;
        margin-top: 8rem;
        margin-left: 0rem;

        @include respond(phone-land) {
            margin-top: 0rem;
        }
    }

    &__right {
        display: block;
        margin: 0 auto;
        width: 40%;

        @include respond(tab-land) {
            display: block;
        }
    }

    &__title{
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 5rem;
    }

    &__list {
        height: 70vh;
        overflow-y: auto;
        overflow-x: hidden;
        overflow-wrap: break-word;
        text-align: left;
        @include respond(tab-land) {
            height: 70vh;
        }
        @include respond(phone-land) {
            margin-top: 0rem;
            display: inline-block;
        }
    }

    &__list-block {
        padding: 1rem 1rem;
    }

    &__list-item {

        &__time {
            color: $color-purple;
            line-height: 1.2;
        }
        &__name {
            font-size: 1.5rem;
            color: $color-gray;
            line-height: 1.4;
        }
        &__phone, &__email {
            color: $color-grey-dark-3;
            font-size: 1.5rem;
            line-height: 1.2;
        }
    }

    &__message {
        text-align: center;
        font-size: 1.5rem;
    }

    &__center {
        text-align: center;
        font-size: 1.5rem;
    }
} 

.linechart {
    text-align: center;
}