
.schedule{
    display: inline-block;
    width: 40rem;
    margin-top: 15rem;
    vertical-align: top;

    @include respond(tab-port) {
        margin-top: 10rem;
        margin-left: 5rem;
    }
    @include respond(phone) {
        margin: 0;
        width: 90%;
    }
}

.schedule-li {
    font-size: 15px;
}