.components {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
    // width: 100%;
    // height: 100px;
}

.schedule{
    margin-top: 16rem;
}

.schedule-li {
    font-size: 15px;
}