.settings {
    display: block;
    width: 100%;

    &__flex {
        display: flex;
    }
    
    &__options {
        display: inline-block;
        margin: 0 auto;
    }

    &__change-theme {
        margin: 11rem auto 7rem auto;
        text-align: center;

        @include respond(phone-land) {
            margin: 2rem auto;
        }

        &__header {
            font-size: 2.4rem;
            padding-bottom: .5rem;
        }

        &__drop-down {
            width: 15rem;
            padding: .5rem 1rem;
            font-size: 1.8rem; 
            border: 1px solid $color-grey-light-3;           
        }
        &__drop-downt:focus{
            outline: none;
        }

        &__option {
            padding: .5rem 1rem;
            font-size: 1.8rem;            
        }
    }

    &__change-password {
        text-align: center;

        &__form {
            width: 100%;
        }

        &__form div .form-error {
            text-align: left;
            margin-left: 2.5rem;
            padding-top:.8rem;
        }

        &__header {
            font-size: 2.4rem;
        }

        &__label {
            font-size: 1.2rem;
            font-weight: 700;
            margin-top: 1rem;
            margin-bottom: 1rem;
            text-align: left;
            margin-left: 2.5rem;
            display: block;
            
        }

        &__input {
            font-size: 1.9rem;
            font-family: inherit;
            padding: 1rem 2rem;
            border-radius: 5px;
            margin: 1rem auto;
            background-color: rgba($color-white, .5);
            border: 1px solid $color-five;
            border-bottom: 1px solid $color-one;
            transition: all .3s;
        }

        &__input:focus{
                outline: none;
        }

        &__button {
            display: block;
            margin: 3.5rem auto;
            color: $color-previous-date;
            background-color: white;
            border: 1px solid $color-previous-date;
        }
    }
}

