.weekly-view {
    padding: 1rem;
    // background-image: linear-gradient(to right, rgba(black, .05), rgba(black, .1));
    width: 70%;

    &__weekly {
        font-size: 2rem;
        color: $color-gray;  

        &__header {
            display: flex;
            flex: 1;
            justify-content: space-around;
        }
    
        &__days {

            &__day {
                display: inline-block;
                width: 12.5%;
                padding: 0 5rem;  
                color: $color-gray;  
                font-weight: 700;            
            }
        }
    
        &__ul {

        }

        &__li {
            display: inline-block;
            width: 12.5%;
            padding: 0 5rem;   
            font-size: 2rem;                         
        }

        &__month {
            text-transform: uppercase;
        }
    }
    
    &__hourly {
        overflow-y: auto;
        color: $color-gray;  


        &__ul {
            display: flex;
            flex-direction: column;
            height: 70vh;
            
        }

        &__li { //appointments
            font-size: 2rem;
            flex: 1;
            width: 113%;

            &__hour {


                &__row {

                    
                    &__block {
                        display: inline-block;
                        height: 5vh;
                        width: 11.5%;
                        padding: 2.5rem;
                    }
                }
            }
        }
    }

    &__appointment {
        
        &__ul {
            font-size: 2rem;
            overflow: hidden;
        }

        &__li {
            display: inline-block;            
            font-size: 1.25rem;
        }

        &__client {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}