.selected-date {
    // background-color: #aaf;
    // border: 1px solid #D5DBDB; 
    border-radius: 20%; 
    background-image: radial-gradient(rgba(transparent, .1), rgba($color-four, .1));
}

.appointment-date {
    color: #E74C3C;
    // background-color: #aaa;
}

.previous-appointment-date {
    color: #7FB3D5;
}

.other-month-date {
    color: #aaa;
}

<<<<<<< HEAD
.current-day {
    color: purple;
}
=======
 
>>>>>>> c1b1695f858926435753ab046294691d5cddce42
