.selected-date {
    // background-color: #aaf;
    // border: 1px solid #D5DBDB; 
    border-radius: 20%; 
    background-image: radial-gradient(rgba(transparent, .1), rgba($color-four, .1));
}

.appointment-date {
    color: $color-upcoming-date;
    // background-color: #aaa;
}

.previous-appointment-date {
    color: $color-previous-date;;
}

.other-month-date {
    color: #aaa;
}

.current-day {
    color: $color-purple;
    border: .5px dotted $color-purple;
    border-radius: 20%;
}

.bold {
    color: $color-previous-date;
}

.phone-hide {
    @include respond(large-phone) {
        visibility: hidden;
    }
}