//These colors are temporary and can be changed later.

$color-one: #D6EAF8;
$color-two: white;
$color-three: #F4F4F4;
$color-four: #373737;
$color-five: #E5E8E8;

$color-black: #000;
$color-white: #fff;
$color-gray: #616A6B;