//These colors are temporary and can be changed later.

//Light Theme---Default
$color-one: #D6EAF8;
$color-two: white;
$color-three: #F4F4F4;
$color-four: #373737;
$color-five: #E5E8E8;
$color-font: #424949;
$color-font-opposite: white;

$color-black: #000;
$color-white: #fff;
$color-gray: #616A6B; //calendar
$color-calendar:#616A6B; 
$color-overlay: #fff;
$color-highlight: #AED6F1;    

$color-primary: #eb2f64;
$color-primary-light: #FF3366;
$color-primary-dark: #BA265D;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-blue: #EBF5FB;
$color-black-blue: #85929E;
$color-purple: #3c48a0;  

$color-form: white;
$color-form-font: black;

$color-schedulr-name: #2980B9;

$color-previous-date: #7FB3D5;
$color-upcoming-date: #E74C3C;

$color-schedulr: #5D6D7E;  

$color-message: #AED6F1;

$color-nav-1: #D6EAF8;
$color-nav-2: white;