//These colors are temporary and can be changed later.

$color-one: #D6EAF8;
$color-two: white;
$color-three: #F4F4F4;
$color-four: #373737;
$color-five: #E5E8E8;

$color-black: #000;
$color-white: #fff;
$color-gray: #616A6B; //calendar

$color-primary: #eb2f64;
$color-primary-light: #FF3366;
$color-primary-dark: #BA265D;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-blue: #EBF5FB;
$color-black-blue: #85929E;
$color-purple: #3c48a0;  

$color-schedulr: #5D6D7E;  