//These colors are temporary and can be changed later.

//Dark Theme
$color-one: #ABB2B9;
$color-two: black;
$color-three: #424949;
$color-four: #c9c9c9;
$color-five: #E5E8E8;
$color-font: white;
$color-font-opposite: black;

$color-black: #000;
$color-white: #fff;
$color-gray: #616A6B; //calendar
$color-calendar: #ccc;
$color-overlay: #000;
$color-highlight: #AED6F1;  

$color-primary: #eb2f64;
$color-primary-light: #FF3366;
$color-primary-dark: #BA265D;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-blue: #EBF5FB;
$color-black-blue: #85929E;
$color-purple: #3c48a0;  

$color-form: #E5E8E8;
$color-form-font: black;

$color-upcoming-date: #E74C3C;
$color-previous-date: #7FB3D5;

$color-schedulr-name: #2980B9;
$color-schedulr: #5D6D7E;  

$color-message: #AED6F1;

$color-nav-1: black;
$color-nav-2: #ABB2B9;