@import url("https://fonts.googleapis.com/css?family=Carme");
.selected-date {
  border-radius: 20%;
  background-image: radial-gradient(rgba(0, 0, 0, 0.1), rgba(201, 201, 201, 0.1)); }

.appointment-date {
  color: #E74C3C; }

.previous-appointment-date {
  color: #7FB3D5; }

.other-month-date {
  color: #aaa; }

.current-day {
  color: #3c48a0;
  border: 0.5px dotted #3c48a0;
  border-radius: 20%; }

.bold {
  color: #7FB3D5; }

@media (max-width: 45em) {
  .phone-hide {
    visibility: hidden; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

a {
  text-decoration: none; }

html {
  font-size: 62.5%; }
  @media (max-width: 112.5em) {
    html {
      font-size: 62.5%; } }
  @media (max-width: 85.375em) {
    html {
      font-size: 50%; } }
  @media (max-width: 60em) {
    html {
      font-size: 50%; } }
  @media (max-width: 40em) {
    html {
      font-size: 37.5%; } }

body {
  box-sizing: border-box;
  padding: 0rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: white; }

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  .app__content {
    flex: 1 0 auto; }

button {
  cursor: pointer; }

li {
  line-height: 1.7;
  list-style-type: none; }

svg {
  color: white; }
  @media (max-width: 25em) {
    svg {
      width: .7rem; } }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  width: 100%;
  height: 100%;
  padding: 1px; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all .2s;
  display: inline-block;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  outline: none;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #c9c9c9; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #ABB2B9;
  color: #fff; }
  .btn--green::after {
    background-color: #ABB2B9; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1rem;
  color: #ABB2B9;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #ABB2B9;
  padding: 3px;
  transition: all .2s; }

.login-button, .register-button {
  margin-top: 20px;
  color: #7FB3D5;
  font-weight: 400;
  background-color: white;
  display: block;
  margin: 3.5rem auto;
  border: 1px solid #7FB3D5; }

.navigation {
  font-family: 'Roboto', sans-serif;
  backface-visibility: hidden; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #424949;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 102;
    box-shadow: 0 1rem 3rem rgba(201, 201, 201, 0.2);
    text-align: center;
    cursor: pointer; }
    @media (max-width: 60em) {
      .navigation__button {
        top: 4rem;
        right: 4rem; } }
    @media (max-width: 40em) {
      .navigation__button {
        top: 2.75rem;
        right: 2.75rem; } }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(black, #ABB2B9);
    z-index: 100;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    @media (max-width: 60em) {
      .navigation__background {
        top: 4.5rem;
        right: 4.5rem; } }
    @media (max-width: 40em) {
      .navigation__background {
        top: 3.5rem;
        right: 3.5rem; } }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 500;
    padding: 1rem 2rem;
    color: #616A6B;
    text-decoration: none;
    text-transform: uppercase;
    background-size: 230%;
    transition: all .4s; }
  .navigation__link span {
    margin-right: 1rem;
    display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: white;
    transform: translateX(1rem); }
  .navigation__checkbox:not(:checked) ~ .navigation__nav {
    visibility: hidden; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__icon {
    position: relative;
    margin-top: 3.4rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #c9c9c9;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .5s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.login {
  display: flex; }

.login-form {
  font-size: 2.2rem;
  display: inline-block;
  margin: 2rem auto;
  padding: 10rem;
  font-family: 'Roboto', sans-serif;
  color: #616A6B; }
  .login-form__message {
    color: red;
    font-size: 2rem; }
  .login-form__input {
    font-size: 1.9rem;
    font-family: inherit;
    padding: 1.5rem 3rem;
    border-radius: 5px;
    border: 1px solid #faf9f9;
    display: block;
    transition: all .3s;
    width: 100%; }
    .login-form__input:focus {
      outline: none; }
    .login-form__input:focus:invalid {
      border-color: #a33; }
    .login-form__input::-webkit-input-placeholder {
      color: #c9c9c9; }
  .login-form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block; }
  .login-form__input:placeholder-shown + .login-form__label {
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    transform: translateY(-4rem); }

.form-error {
  color: red; }

.register {
  margin: 0 auto;
  padding: 5rem; }
  .register__parent {
    display: flex; }
  .register__back-button {
    display: inline-block;
    width: 17rem;
    position: fixed;
    left: 5rem;
    top: 4rem; }
  .register__back-button svg {
    float: left;
    margin-right: 1rem;
    transform: scale(1.5); }
  .register__p {
    font-size: 2.2rem;
    font-family: 'Roboto', sans-serif;
    transform: translateY(-17.5%); }

.register-line {
  margin-top: 4rem; }

.calendar {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  text-align: center;
  max-width: 60rem;
  text-transform: uppercase;
  color: #ccc;
  display: inline-block;
  margin-right: 20rem; }
  @media (max-width: 60em) {
    .calendar {
      max-width: 50rem;
      margin-right: 0rem;
      margin-top: 10rem; } }
  @media (max-width: 60em) and (max-height: 40em) {
    .calendar {
      margin-top: -5rem;
      max-width: 35rem; } }
  @media (max-width: 40em) {
    .calendar {
      margin: 0rem;
      max-width: 100%; } }
  @media (max-width: 45em) {
    .calendar__toggle {
      visibility: hidden; } }
  .calendar__header-row__previous {
    display: inline-block;
    margin: 2rem; }
  .calendar__header-row__next {
    display: inline-block;
    margin: 2rem; }
  .calendar__header-row__header {
    display: inline-block;
    padding-bottom: 5rem;
    min-width: 30rem; }
    @media (max-width: 60em) and (max-height: 40em) {
      .calendar__header-row__header {
        margin: 0;
        font-size: 2rem;
        min-width: 20rem; } }
    @media (max-width: 40em) {
      .calendar__header-row__header {
        margin-top: 4rem; } }
  .calendar__days__day {
    display: inline-block;
    width: 14.2%;
    font-weight: 700;
    color: #ccc; }
  .calendar__blocks-row__blocks {
    display: inline-block;
    width: 14.2%;
    padding: 4% 0 4% 0; }
    .calendar__blocks-row__blocks:hover {
      cursor: pointer;
      background-color: #707B7C;
      border-radius: 20%; }

.appointments {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: left;
  padding: 1rem; }
  @media (max-width: 60em) and (max-height: 40em) {
    .appointments__schedule-list {
      height: 50vh;
      overflow-y: auto; } }
  @media (max-width: 40em) {
    .appointments__schedule-list {
      height: 33vh;
      overflow-y: auto; } }
  .appointments__select-client {
    background-color: #E5E8E8; }
  .appointments__edit {
    visibility: hidden; }
  .appointments__delete {
    visibility: hidden; }
  .appointments:hover .appointments__edit, .appointments:hover .appointments__delete {
    visibility: visible; }
  .appointments__list {
    margin-right: 10rem;
    overflow-wrap: break-word;
    max-width: 30rem; }
    .appointments__list__time {
      color: #3c48a0;
      line-height: 1.2; }
    .appointments__list__name {
      color: #c9c9c9;
      line-height: 1.4; }
    .appointments__list__phone, .appointments__list__email {
      color: #999;
      font-size: 1.5rem;
      line-height: 1.2; }
    .appointments__list__notes {
      color: #999; }
  .appointments__dialog {
    transform: scale(1.3); }
    @media (max-width: 60em) and (max-height: 40em) {
      .appointments__dialog {
        transform: scale(1); } }
    @media (max-width: 40em) {
      .appointments__dialog {
        transform: scale(1.2); } }
    .appointments__dialog > * > * > *, .appointments__dialog > * > * > * > * {
      color: black !important; }
    .appointments__dialog > div:nth-of-type(2) {
      background-color: #E5E8E8; }
  .appointments__text {
    font-size: 1.5rem; }
  .appointments__button {
    font-size: 1rem; }
  .appointments__input * {
    font-size: 1rem;
    color: black !important; }
  .appointments__time {
    display: inline-block; }
  .appointments__schedule-li {
    opacity: 1;
    max-height: 50rem;
    overflow-y: auto; }
  .appointments__add-appointment {
    font-size: 2rem;
    background-image: linear-gradient(to left, rgba(171, 178, 185, 0.8), rgba(171, 178, 185, 0.8)); }
  .appointments__message {
    font-size: 2rem; }

.appointments-form {
  font-size: 1.5rem !important;
  display: inline-block; }

.appointments-specify {
  text-align: right;
  padding: 0 2rem; }

.schedule {
  display: inline-block;
  width: 40rem;
  margin-top: 15rem;
  vertical-align: top; }
  @media (max-width: 60em) {
    .schedule {
      margin-top: 10rem;
      margin-left: 5rem; } }
  @media (max-width: 40em) {
    .schedule {
      margin: 0;
      width: 90%; } }

.schedule-li {
  font-size: 15px; }

.logo {
  max-width: 6%;
  float: left;
  margin: -1rem 1rem; }
  @media (max-width: 60em) {
    .logo {
      max-width: 9%; } }
  @media (max-width: 25em) {
    .logo {
      max-width: 17%;
      margin: 0rem 0rem; } }

.landing-page {
  font-family: 'Roboto', sans-serif; }

#app-name {
  font-size: 80px;
  margin-top: 6rem; }

#app-description {
  font-size: 20px; }

.head {
  background-color: #424949;
  height: 95vh; }

.nav {
  padding: 2.7rem;
  text-align: right;
  position: fixed;
  width: 100%;
  background-image: linear-gradient(to right, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9));
  text-transform: uppercase;
  z-index: 100; }
  .nav__button {
    padding: 1.5rem;
    margin: 0 2.5rem;
    cursor: pointer;
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: sans-serif; }
    @media (max-width: 25em) {
      .nav__button {
        font-size: 2.5rem;
        margin: 0rem 0.5rem; } }
    .nav__button:hover {
      color: #2980B9; }
    .nav__button:before {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      background-color: #000;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    .nav__button:hover:before {
      visibility: visible;
      -webkit-transform: scale(1);
      transform: scale(1); }

.welcome {
  background-image: url("../images/office.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%; }
  .welcome__screen {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%; }
  .welcome__message {
    color: #AED6F1;
    font-family: 'Carme', sans-serif;
    font-size: 3.7rem; }
    .welcome__message__top {
      position: absolute;
      text-transform: uppercase;
      margin-top: 30rem;
      margin-left: 5rem; }
      @media (max-width: 60em) {
        .welcome__message__top {
          margin-top: 27rem;
          margin-left: 3rem;
          font-size: 5rem; } }
      @media (max-width: 25em) {
        .welcome__message__top {
          margin-top: 28rem;
          margin-left: 5rem;
          font-size: 4rem; } }
    .welcome__message__bottom {
      position: absolute;
      text-transform: uppercase;
      margin-top: 40rem;
      margin-left: 10.5rem; }
      @media (max-width: 60em) {
        .welcome__message__bottom {
          margin-top: 35rem;
          margin-left: 8.5rem;
          font-size: 5rem; } }
      @media (max-width: 25em) {
        .welcome__message__bottom {
          margin-top: 33rem;
          margin-left: 8rem;
          font-size: 4rem; } }

.about {
  background-color: white;
  height: 70vh;
  padding: 20rem 40rem; }
  @media (max-width: 85.375em) {
    .about {
      padding: 50px 50px 0px 50px; } }
  @media (max-width: 60em) {
    .about {
      background-color: white;
      height: 70vh;
      padding: 30px 50px; } }
  @media (max-width: 25em) {
    .about {
      padding: 30px 32px; } }
  .about__left {
    display: inline-block;
    width: 45%;
    margin-right: 3rem;
    vertical-align: middle; }
    @media (max-width: 40em) {
      .about__left {
        display: block;
        text-align: center;
        width: 100%;
        margin: 0; } }
  .about__header {
    font-size: 3.2rem;
    font-family: 'Carme', sans-serif;
    text-transform: uppercase; }
    @media (max-width: 60em) {
      .about__header__first {
        font-size: 4rem; } }
    @media (max-width: 25em) {
      .about__header__first {
        font-size: 3.5rem; } }
    @media (max-width: 60em) {
      .about__header__second {
        font-size: 4rem; } }
    @media (max-width: 25em) {
      .about__header__second {
        font-size: 3.5rem; } }
    @media (max-width: 60em) {
      .about__header__third {
        font-size: 4rem; } }
    @media (max-width: 25em) {
      .about__header__third {
        font-size: 3.5rem; } }
  .about__right {
    width: 45%;
    margin-left: 3rem;
    display: inline-block;
    font-size: 1.8rem;
    vertical-align: middle; }
    @media (max-width: 60em) {
      .about__right {
        margin-left: 8rem; } }
  .about__list {
    display: inline-block;
    text-align: none; }
    @media (max-width: 40em) {
      .about__list {
        display: block; } }
    @media (max-width: 25em) {
      .about__list {
        display: inline-flex;
        text-align: center; } }
    @media (max-width: 25em) {
      .about__list__item {
        padding-right: 1rem; } }
    .about__list__item__details {
      color: #616A6B; }

.phone-image {
  width: 70%; }
  @media (max-width: 60em) {
    .phone-image {
      width: 55%;
      margin-left: 8rem; } }
  @media (max-width: 25em) {
    .phone-image {
      margin-left: 3rem; } }

.whats-new {
  display: block;
  background-color: white;
  padding: 20rem 40rem; }
  @media (max-width: 85.375em) {
    .whats-new {
      padding: 0rem 5rem 5rem 5rem; } }
  @media (max-width: 60em) {
    .whats-new {
      background-color: white;
      padding: 0;
      padding-bottom: 10rem; } }
  .whats-new__header {
    text-align: center;
    font-size: 4.2rem;
    font-family: 'Carme', sans-serif;
    text-transform: uppercase;
    line-height: 1.2; }
    @media (max-width: 60em) {
      .whats-new__header {
        font-size: 3rem; } }
    @media (max-width: 25em) {
      .whats-new__header {
        font-size: 2.5rem; } }
  .whats-new__left {
    display: inline-block;
    padding-top: 5rem;
    width: 40%;
    vertical-align: middle; }
    @media (max-width: 60em) {
      .whats-new__left {
        padding-top: 4rem; } }
  .whats-new__right {
    width: 60%;
    padding-top: 5rem;
    display: inline-block;
    font-size: 1.8rem;
    vertical-align: middle; }
    @media (max-width: 60em) {
      .whats-new__right {
        padding: 0; } }
  .whats-new__list__item__details {
    color: #616A6B; }

.about-us {
  background-color: #333;
  color: white;
  padding: 15rem;
  display: block; }
  @media (max-width: 85.375em) {
    .about-us {
      padding: 10rem; } }
  @media (max-width: 60em) {
    .about-us {
      padding: 5rem; } }
  @media (max-width: 25em) {
    .about-us {
      padding: 5rem 2rem; } }
  .about-us__header {
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 10rem;
    font-family: 'Carme', sans-serif;
    text-transform: uppercase; }
    @media (max-width: 60em) {
      .about-us__header {
        padding-bottom: 8rem; } }
    @media (max-width: 25em) {
      .about-us__header {
        padding-bottom: 6rem; } }
  .about-us__person {
    display: inline-block;
    width: 25%;
    text-align: center;
    font-family: 'Roboto', sans-serif; }
    .about-us__person__list__item {
      padding: .5rem;
      line-height: .5; }
    .about-us__person__list__name {
      font-size: 1.8rem; }
      @media (max-width: 60em) {
        .about-us__person__list__name {
          line-height: 1; } }
      @media (max-width: 60em) {
        .about-us__person__list__name {
          font-size: 2.1rem; } }
    .about-us__person__list__portfolio {
      font-size: 1.2rem; }
      .about-us__person__list__portfolio__text {
        color: grey; }
        .about-us__person__list__portfolio__text:hover {
          text-decoration: underline; }
      @media (max-width: 85.375em) {
        .about-us__person__list__portfolio {
          font-size: 2.4rem;
          line-height: 1.3; } }
      @media (max-width: 40em) {
        .about-us__person__list__portfolio {
          font-size: 2.4rem;
          line-height: 1.3; } }
    .about-us__person__list__github {
      display: inline-block;
      margin: 0 .6rem; }
    .about-us__person__list__linkedin {
      display: inline-block;
      margin: 0 .5rem; }

.weekly-view {
  padding: 1rem;
  width: 70%;
  overflow-y: auto;
  display: inline-block;
  margin-right: 5rem; }
  @media (max-width: 85.375em) {
    .weekly-view {
      width: 60%; } }
  @media (max-width: 60em) {
    .weekly-view {
      width: 50%; } }
  @media (max-width: 45em) {
    .weekly-view__toggle {
      visibility: visible; } }
  @media (max-width: 45em) {
    .weekly-view__toggle svg {
      margin-top: 40rem;
      width: 200%;
      height: 200%; } }
  .weekly-view__weekly {
    font-size: 2rem;
    color: #ccc;
    text-align: center; }
    .weekly-view__weekly__previous {
      display: inline-block;
      margin: 2rem; }
    .weekly-view__weekly__next {
      display: inline-block;
      margin: 2rem; }
    .weekly-view__weekly__month {
      display: inline-block;
      padding-bottom: 5rem;
      min-width: 30rem; }
    .weekly-view__weekly__days__day {
      display: inline-block;
      width: 12.5%;
      color: #ccc;
      font-weight: 700;
      text-align: center; }
    .weekly-view__weekly__ul {
      display: flex; }
    .weekly-view__weekly__li {
      width: 12.5%;
      font-size: 2rem;
      text-align: center; }
    .weekly-view__weekly__month {
      text-transform: uppercase; }
  .weekly-view__hourly__ul {
    color: #616A6B;
    display: flex;
    flex-direction: column;
    height: 70vh; }
  .weekly-view__hourly__li {
    font-size: 2rem; }
    @media (max-width: 60em) {
      .weekly-view__hourly__li {
        font-size: 1.5rem; } }
    .weekly-view__hourly__li:nth-of-type(odd) {
      background-image: linear-gradient(to right, rgba(84, 153, 199, 0.1), rgba(84, 153, 199, 0.1)); }
    .weekly-view__hourly__li:nth-of-type(even) {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)); }
    .weekly-view__hourly__li__hour__row {
      display: flex; }
      .weekly-view__hourly__li__hour__row__block {
        align-self: middle;
        height: 5vh;
        width: 12.5%;
        padding: 2rem;
        white-space: nowrap;
        justify-content: center;
        text-overflow: ellipsis;
        display: flex;
        align-items: center; }
        .weekly-view__hourly__li__hour__row__block:nth-of-type(1) {
          color: #ccc; }
      .weekly-view__hourly__li__hour__row__time {
        color: #ccc; }
  .weekly-view__appointment__ul {
    font-size: 2rem;
    overflow: hidden; }
  .weekly-view__appointment__li {
    font-size: 1.25rem;
    text-align: center; }
  .weekly-view__appointment__client {
    cursor: pointer;
    color: #ccc; }
    .weekly-view__appointment__client:hover {
      color: #AED6F1;
      text-decoration: none; }

.report {
  color: white;
  padding: 0 2rem;
  margin-top: 2rem; }
  @media (max-width: 60em) and (max-height: 40em) {
    .report {
      margin-top: 0rem;
      margin-left: -8rem; } }
  @media (max-width: 40em) {
    .report {
      margin-left: -10rem; } }
  .report__left {
    vertical-align: top;
    display: block;
    margin-top: 8rem;
    margin-left: 0rem; }
    @media (max-width: 60em) and (max-height: 40em) {
      .report__left {
        margin-top: 0rem; } }
  .report__right {
    display: block;
    margin: 0 auto;
    width: 40%; }
    @media (max-width: 85.375em) {
      .report__right {
        display: block; } }
  .report__title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem; }
  .report__list {
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word; }
    @media (max-width: 85.375em) {
      .report__list {
        height: 70vh; } }
    @media (max-width: 60em) and (max-height: 40em) {
      .report__list {
        margin-top: 0rem;
        display: inline-block; } }
  .report__list-block {
    padding: 1rem 1rem; }
  .report__list-item__time {
    color: #3c48a0;
    line-height: 1.2; }
  .report__list-item__name {
    font-size: 1.5rem;
    color: #616A6B;
    line-height: 1.4; }
  .report__list-item__phone, .report__list-item__email {
    color: #999;
    font-size: 1.5rem;
    line-height: 1.2; }
  .report__message {
    text-align: center;
    font-size: 1.5rem; }
  .report__center {
    text-align: center; }

.linechart {
  text-align: center; }

#filter {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  text-align: left;
  padding: 1.5rem 3rem;
  font-size: 1.4rem;
  border-radius: 5px;
  border: 1px solid #707B7C; }

.client-list {
  margin: 10rem auto;
  transform: scale(1.4);
  width: 30%; }
  @media (max-width: 60em) and (max-height: 40em) {
    .client-list {
      display: inline-block; } }
  @media (max-width: 40em) {
    .client-list {
      width: 50%; } }

.client-list-div {
  overflow-y: auto;
  height: 40vh;
  text-align: center; }

.client {
  padding: 1rem; }
  .client__list {
    display: inline-block; }
    .client__list__name {
      font-size: 1.5rem;
      color: #616A6B;
      line-height: 1.4; }
    .client__list__phone, .client__list__email {
      color: #999;
      font-size: 1.5rem;
      line-height: 1.2; }
  .client__dialog {
    transform: scale(1.3); }
    .client__dialog > div:nth-of-type(2) {
      background-color: #E5E8E8; }
    .client__dialog > * > * > *, .client__dialog > * > * > * > * {
      color: black !important; }
    .client__dialog__text > h2 {
      color: black !important; }
    .client__dialog__content > * {
      color: black !important; }
  .client__text {
    font-size: 1.5rem; }
  .client__add-form {
    margin-right: 2.75rem; }
    @media (max-width: 25em) {
      .client__add-form {
        margin-right: -1.7rem; } }
  .client__edit-form {
    float: right;
    visibility: hidden; }
  .client__delete-form {
    float: right;
    visibility: hidden; }
    @media (max-width: 25em) {
      .client__delete-form {
        margin-right: 1.5rem; } }
  .client:hover .client__edit-form, .client:hover .client__delete-form {
    visibility: visible; }

.add-client-button-flexbox {
  display: flex;
  justify-content: flex-end; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12.5rem; }
  @media (max-width: 60em) and (max-height: 40em) {
    .search {
      display: inline-block;
      margin-left: 2rem;
      margin-right: 10rem;
      vertical-align: top;
      width: 40%; } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: black;
    background-color: #fff;
    border: none;
    padding: 1.7rem 1.5rem;
    border-radius: 100px;
    width: 20%;
    transition: all .2s;
    margin-right: -3.25rem;
    border: .5px solid #999; }
    @media (max-width: 85.375em) {
      .search__input {
        font-size: 1.8rem;
        width: 30rem; } }
    .search__input:focus {
      outline: none;
      width: 25%;
      background-color: #fff; }
      @media (max-width: 25em) {
        .search__input:focus {
          width: 50%; } }
  @media (max-width: 25em) and (max-width: 85.375em) {
    .search__input:focus {
      width: 35rem; } }
      .search__input:focus::-webkit-input-placeholder {
        font-weight: 100;
        color: #ccc; }
      @media (max-width: 25em) {
        .search__input:focus {
          width: 40%; } }
    .search__input__input:focus + .search__input__button {
      background-color: #f0eeee; }
    .search__input__button {
      border: none;
      background-color: #f4f2f2; }
      .search__input__button:focus {
        outline: none; }
      .search__input__button:active {
        transform: translateY(2px); }
      @media (max-width: 25em) {
        .search__input__button {
          margin-left: 10rem; } }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #999; }

.search svg {
  color: black; }

.components {
  padding-top: 5rem;
  text-align: center; }
  @media (max-width: 60em) and (max-height: 40em) {
    .components {
      padding-top: 0; } }
  @media (max-width: 40em) {
    .components {
      padding-top: 0; } }

.dashboard {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  height: 100vh; }

.settings {
  display: block;
  width: 100%; }
  .settings__flex {
    display: flex; }
  .settings__options {
    display: inline-block;
    margin: 0 auto; }
  .settings__change-theme {
    margin: 11rem auto 7rem auto;
    text-align: center; }
    @media (max-width: 60em) and (max-height: 40em) {
      .settings__change-theme {
        margin: 2rem auto; } }
    .settings__change-theme__header {
      font-size: 2.4rem; }
    .settings__change-theme__drop-down {
      width: 15rem;
      padding: .5rem 1rem;
      font-size: 1.8rem;
      border: 1px solid #f0eeee; }
    .settings__change-theme__drop-downt:focus {
      outline: none; }
    .settings__change-theme__option {
      padding: .5rem 1rem;
      font-size: 1.8rem; }
  .settings__change-password {
    text-align: center; }
    .settings__change-password__form {
      width: 100%; }
    .settings__change-password__form div .form-error {
      text-align: left;
      margin-left: 2.5rem; }
    .settings__change-password__header {
      font-size: 2.4rem; }
    .settings__change-password__label {
      font-size: 1.2rem;
      font-weight: 700;
      margin-top: .7rem;
      text-align: left;
      margin-left: 2.5rem;
      display: block; }
    .settings__change-password__input {
      font-size: 1.9rem;
      font-family: inherit;
      padding: 1rem 2rem;
      border-radius: 5px;
      margin: 1rem auto;
      background-color: rgba(255, 255, 255, 0.5);
      border: 1px solid #707B7C;
      border-bottom: 1px solid #ABB2B9;
      transition: all .3s; }
    .settings__change-password__input:focus {
      outline: none; }
    .settings__change-password__button {
      display: block;
      margin: 2rem auto;
      color: #3c48a0; }
