.selected-date {
  border-radius: 20%;
  background-image: radial-gradient(rgba(0, 0, 0, 0.1), rgba(55, 55, 55, 0.1)); }

.appointment-date {
  color: red; }

.previous-appointment-date {
  color: blue; }

.other-month-date {
  color: #aaa; }

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

a {
  text-decoration: none; }

html {
  font-size: 62.5%; }
  @media (max-width: 112.5em) {
    html {
      font-size: 62.5%; } }
  @media (max-width: 85.375em) {
    html {
      font-size: 50%; } }
  @media (max-width: 60em) {
    html {
      font-size: 50%; } }
  @media (max-width: 40em) {
    html {
      font-size: 37.5%; } }

body {
  box-sizing: border-box;
  padding: 0rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  .app__content {
    flex: 1 0 auto; }

button {
  cursor: pointer; }

li {
  list-style-type: none; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #F4F4F4;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 102;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 60em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 40em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#D6EAF8, white);
  z-index: 100;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 60em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 40em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 500;
  padding: 1rem 2rem;
  color: #373737;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #373737 50%);
  background-size: 230%;
  transition: all .4s; }

.navigation__link span {
  margin-right: 1rem;
  display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #D6EAF8;
  transform: translateX(1rem); }

.navigation__checkbox:not(:checked) ~ .navigation__nav {
  visibility: hidden; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.4rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #373737;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .5s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.login-form {
  font-size: 2.2rem;
  margin: 0 auto;
  padding: 10rem;
  text-align: left;
  font-family: 'Roboto', sans-serif; }
  .login-form__input {
    font-size: 1.9rem;
    font-family: inherit;
    padding: 1.5rem 3rem;
    color: inherit;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #E5E8E8;
    border-bottom: 1px solid #E5E8E8;
    width: 100%;
    display: block;
    transition: all .3s; }
    .login-form__input:focus {
      outline: none;
      border-bottom: 1px solid #D6EAF8;
      transform: translateY(-5%); }
    .login-form__input:focus:invalid {
      border-color: #a33; }
    .login-form__input::-webkit-input-placeholder {
      color: #373737; }
  .login-form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block; }
  .login-form__input:placeholder-shown + .login-form__label {
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    transform: translateY(-4rem); }

.form-error {
  color: red; }

.login-button, .register-button {
  border-radius: 5px;
  margin-top: 20px;
  border: 1px solid #E5E8E8;
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: #CCD1D1;
  color: white;
  font-size: 2.2rem; }

.calendar {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  text-align: center;
  max-width: 60rem;
  text-transform: uppercase;
  color: #616A6B; }
  .calendar__header-row__previous {
    display: inline-block;
    margin: 3rem 2rem; }
  .calendar__header-row__next {
    display: inline-block;
    margin: 2rem; }
  .calendar__header-row__header {
    display: inline-block;
    padding-bottom: 5rem;
    min-width: 30rem; }
  .calendar__days__day {
    display: inline-block;
    width: 14.2%;
    font-weight: 700; }
  .calendar__blocks-row__blocks {
    display: inline-block;
    width: 14.2%;
    padding: 4% 0 4% 0; }
    .calendar__blocks-row__blocks:hover {
      cursor: pointer;
      background-color: #EBF5FB;
      border-radius: 20%; }

.appointments {
  width: 50rem; }
  .appointments__div {
    margin-top: 20px; }

.appointments-specify .appointments__add-appointment {
  font-size: 2rem;
  background-image: linear-gradient(to left, rgba(214, 234, 248, 0.8), rgba(214, 234, 248, 0.8)); }

.appointments-specify .appointments__list {
  line-height: 1.2; }

.components {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5rem; }

.schedule {
  margin-top: 16rem; }

.schedule-li {
  font-size: 15px; }
