.selected-date {
  background-color: #aaf; }

.appointment-date {
  color: red;
  background-color: #aaa; }

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 112.5em) {
    html {
      font-size: 62.5%; } }
  @media (max-width: 85.375em) {
    html {
      font-size: 50%; } }
  @media (max-width: 60em) {
    html {
      font-size: 50%; } }
  @media (max-width: 40em) {
    html {
      font-size: 37.5%; } }

body {
  box-sizing: border-box;
  padding: 0rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  .app__content {
    flex: 1 0 auto; }

button {
  cursor: pointer; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #C0B283;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 102;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 60em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 40em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#C0B283, #DCD0C0);
  z-index: 100;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 60em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 40em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all .4s; }

.navigation__link span {
  margin-right: 1rem;
  display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #C0B283;
  transform: translateX(1rem); }

.navigation__checkbox:not(:checked) ~ .navigation__nav {
  visibility: hidden; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.4rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #DCD0C0;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .5s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.login-form {
  font-size: 1.6rem;
  margin: 0 auto;
  padding: 10rem;
  text-align: left; }
  .login-form__input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    color: inherit;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #373737;
    border-bottom: 1px solid #373737;
    width: 100%;
    display: block;
    transition: all .3s; }
    .login-form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 5px solid #C0B283;
      transform: translateY(-5%); }
    .login-form__input:focus:invalid {
      border-color: #a33; }
    .login-form__input::-webkit-input-placeholder {
      color: #373737; }
  .login-form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block; }
  .login-form__input:placeholder-shown + .login-form__label {
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    transform: translateY(-4rem); }

.calendar {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  text-align: center;
  max-width: 70rem; }
  .calendar__header-row__previous {
    display: inline-block;

    margin: 3rem 2rem; }
  .calendar__header-row__next {
    display: inline-block;
    margin: 3rem 2rem; }
  .calendar__header-row__header {
    display: inline-block; }
  .calendar__days__day {
    font-weight: 700;
    display: inline-block;
    width: 14.2%;
    padding-top: 2%; }
  .calendar__blocks-row__blocks {
    display: inline-block;
    width: 14.2%;
    padding: 4% 0 4% 0 }
    .calendar__blocks-row__blocks:hover {
      cursor: pointer;
      background-color: #aaf; }
